@{
    ViewBag.Title = "Baby Sitter Timesheet";
}

<div class="jumbotron">
    <h1>BABY SITTER TIMESHEET</h1>
    <p class="lead">Baby Sitter Timesheet is an app that allows a baby sitter to enter time and calculate the amount that he/she needs to be paid</p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Enter Time</h2>
        <p>
          Enter the start time and end time of the baby sitter's work.

        </p>
        <p><input class="btn btn-default" type="button" value="Submit" id="submit" title="Submit"></input></p>
    </div>
    <div class="col-md-6">
        <h2>Get Paid</h2>
        
    </div>
   
</div>